<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="argyll" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="atom" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="atom.install" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="autohotkey.portable" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="bulk-crap-uninstaller" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="choco-package-list-backup" arguments=" --package-parameters=&quot;&apos;/DONTRUN /NOSCHEDULE&apos;&quot; --allow-downgrade --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="chocolatey" arguments="" />
   <package id="chocolatey-core.extension" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="chocolatey-dotnetfx.extension" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="chocolatey-misc-helpers.extension" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="chocolatey-windowsupdate.extension" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="chocolateygui" arguments=" --package-parameters=&quot;&apos;/DefaultToDarkMode&apos;&quot; --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="discord" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="discord.install" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="dispcalgui.install" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="displaycal" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="ditto" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="docker-desktop" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="dotnet-5.0-desktopruntime" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="DotNet3.5" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="DotNet4.5.2" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="dotnetcore-desktopruntime" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="dotnetcore3-desktop-runtime" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="dotnetfx" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="ffmpeg" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="FileOptimizer" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="Firefox" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="git.install" arguments=" --package-parameters=&quot;&apos;/GitOnlyOnPath /NoAutoCrlf /WindowsTerminal /NoShellIntegration /NoGuiHereIntegration /NoShellHereIntegration /SChannel&apos;&quot; --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="gsudo" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="handbrake" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="handbrake.install" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="insomnia-rest-api-client" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="joplin" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="KB2533623" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="KB2919355" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="KB2919442" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="KB2999226" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="KB3033929" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="KB3035131" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="KB3063858" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="mattermost-desktop" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="microsoft-windows-terminal" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="msiafterburner" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="obs-studio" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="obs-studio.install" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="openhashtab" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="powertoys" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="prusaslicer" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="screentogif" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="signal" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="simplewall" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="simplewall.install" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="spotify" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="steam-client" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="sublimetext4" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="thunderbird" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="vcredist140" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="vcredist2015" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="vcredist2017" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="vscode" arguments=" --package-parameters=&quot;&apos;/NoContextMenuFiles /NoContextMenuFolders&apos;&quot; --allow-downgrade --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="vscode.install" arguments=" --package-parameters=&quot;&apos;/NoContextMenuFiles /NoContextMenuFolders&apos;&quot; --allow-downgrade --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="winmerge" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="winscp" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="winscp.install" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="wsl-ubuntu-2004" arguments=" --allow-downgrade --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
   <package id="wsl2" arguments=" --cache-location=&quot;&apos;C:\Users\calvin\AppData\Local\Temp\chocolatey&apos;&quot;" />
</packages>
