[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/custom/plugins/history-search-multi-word"]
	path = zsh/custom/plugins/history-search-multi-word
	url = https://github.com/zdharma-continuum/history-search-multi-word.git
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "zsh/custom/plugins/fast-syntax-highlighting"]
	path = zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/custom/themes/powerlevel10k"]
	path = zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "vim/bundle/coc.nvim"]
	path = vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "vim/bundle/vim-autoformat"]
	path = vim/bundle/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat.git
[submodule "vim/bundle/vim-visual-multi"]
	path = vim/bundle/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "vim/bundle/onedark.vim"]
	path = vim/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "zsh/custom/plugins/zsh-fast-alias-tips"]
	path = zsh/custom/plugins/zsh-fast-alias-tips
	url = https://github.com/decayofmind/zsh-fast-alias-tips.git
[submodule "plugins/dotbot-secret"]
	path = plugins/dotbot-secret
	url = https://github.com/er1c-zh/dotbot-secret.git
