<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlwaysKeys</key>
	<array>
		<string>&gt;KeyParameters</string>
		<string>dbg-Scope</string>
	</array>
	<key>DSID</key>
	<string></string>
	<key>EnsurePeerRegistration</key>
	<false/>
	<key>FirstUnlockKeys</key>
	<array/>
	<key>MonitorState</key>
	<dict/>
	<key>PendingKeys</key>
	<array/>
	<key>SyncBackupPeerIDs</key>
	<array/>
	<key>SyncPeerIDs</key>
	<array/>
	<key>UnlockedKeys</key>
	<array/>
</dict>
</plist>
