<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.lastpass.LastPassHelper</string>
    <key>Program</key>
    <string>REPLACE_HOME/Library/Application Support/LastPass/LastPassHelper.app/Contents/MacOS/LastPassHelper</string>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>

