<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
		<string>org.macosforge.xquartz.startx</string>
	<key>ProgramArguments</key>
		<array>
			<string>/opt/X11/libexec/launchd_startx</string>
			<string>/opt/X11/bin/startx</string>

			<string>--</string>
			<string>/opt/X11/bin/Xquartz</string>

		</array>
	<key>Sockets</key>
		<dict>
			<key>org.macosforge.xquartz:0</key>
				<dict>
					<key>SecureSocketWithKey</key>
						<string>DISPLAY</string>
				</dict>
		</dict>
	<key>ServiceIPC</key>
		<true/>
	<key>EnableTransactions</key>
		<true/>
</dict>
</plist>

