ansible==2.9.1
anyconfig==0.9.7
arrow==0.14.2
asn1crypto==0.24.0
astroid==2.3.1
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
awscli==1.18.4
Babel==2.6.0
beautifulsoup4==4.8.0
binaryornot==0.4.4
boto3==1.9.219
botocore==1.15.4
bs4==0.0.1
cachetools==3.1.1
Cerberus==1.2
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
click==6.7
click-completion==0.3.1
colorama==0.3.9
cookiecutter==1.6.0
cryptography==2.7
Cython==0.29.13
datadog==0.33.0
datadog-checks-base==10.0.1
debtcollector==1.22.0
decorator==4.4.1
Deprecated==1.2.7
diagrams==0.7.4
dictdiffer==0.8.0
docker==4.0.2
docutils==0.15.2
elasticsearch==7.6.0
entrypoints==0.3
fasteners==0.15
fire==0.2.1
flake8==3.7.8
future==0.17.1
git-url-parse==1.2.2
gitdb2==2.0.6
GitPython==3.0.5
google-api-core==1.14.2
google-auth==1.10.0
google-cloud-core==1.1.0
google-cloud-storage==1.24.1
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
graphviz==0.13.2
hvac==0.9.5
idna==2.7
imgurpython==1.1.7
importlib-metadata==0.18
ip-associations-python-novaclient-ext==0.2
IPy==1.0
iso8601==0.1.12
isort==4.3.19
jedi==0.15.1
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.4
jsonxs==0.6
keyring==19.0.1
keystoneauth1==3.18.0
lazy-object-proxy==1.4.1
Mako==1.0.10
MarkupSafe==1.1.1
mccabe==0.6.1
mitogen==0.2.9
mock==3.0.5
monotonic==1.5
more-itertools==7.0.0
msgpack==0.6.1
netaddr==0.7.19
netifaces==0.10.9
nose==1.3.7
oauthlib==3.1.0
os-diskconfig-python-novaclient-ext==0.1.3
os-networksv2-python-novaclient-ext==0.26
os-service-types==1.7.0
os-virtual-interfacesv2-python-novaclient-ext==0.20
oslo.config==7.0.0
oslo.i18n==3.25.1
oslo.serialization==2.29.2
oslo.utils==3.42.1
packaging==19.0
parso==0.5.2
pathspec==0.5.9
pbr==1.10.0
pexpect==4.6.0
Pillow==6.1.0
pluggy==0.12.0
poyo==0.4.2
praw==6.3.1
prawcore==1.0.1
prettytable==0.7.2
protobuf==3.9.1
psutil==5.4.6
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycodestyle==2.5.0
pycparser==2.19
pydocstyle==3.0.0
pyflakes==2.1.1
PyGithub==1.45
PyJWT==1.7.1
pylint==2.4.4
pyparsing==2.4.0
pyrax==1.9.8
pytest==5.0.1
python-dateutil==2.8.0
python-dotenv==0.11.0
python-gilt==1.2.1
python-http-client==3.2.1
python-jsonrpc-server==0.3.2
python-keystoneclient==3.22.0
python-language-server==0.31.2
python-novaclient==2.27.0
python-string-utils==0.6.0
python-whois==0.7.2
pytz==2019.1
PyYAML==5.2
rackspace-auth-openstack==1.3
rackspace-novaclient==2.1
rax-default-network-flags-python-novaclient-ext==0.4.0
rax-scheduled-images-python-novaclient-ext==0.3.1
redis==3.4.1
requests==2.21.0
requests-oauthlib==1.2.0
rfc3986==1.3.2
rope==0.14.0
rsa==3.4.2
ruamel.yaml==0.15.99
s3transfer==0.3.3
sendgrid==6.1.0
sh==1.12.14
simplejson==3.16.0
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
soco==0.18.1
soupsieve==1.9.3
stevedore==1.31.0
tabulate==0.8.2
tenacity==6.0.0
termcolor==1.1.0
testinfra==3.0.5
tqdm==4.40.0
tree-format==0.1.2
typed-ast==1.4.0
ujson==1.35
update-checker==0.16
urllib3==1.24.3
ushlex==0.99.1
wcwidth==0.1.7
websocket-client==0.56.0
whichcraft==0.6.0
whois==0.9.5
wrapt==1.11.1
xmltodict==0.12.0
yamllint==1.16.0
yapf==0.27.0
zipp==0.5.2
