ansible==2.10.4
ansible-base==2.10.4
astroid==2.4.2
autopep8==1.5.4
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.4.6
Deprecated==1.2.10
flake8==3.8.4
grafana-api==1.0.3
idna==2.10
isort==5.6.4
jedi==0.17.2
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.8
parso==0.7.1
pathspec==0.8.1
pluggy==0.13.1
protobuf==3.14.0
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
PyGithub==1.54
PyJWT==1.7.1
pylint==2.6.0
pyparsing==2.4.7
python-jsonrpc-server==0.4.0
python-language-server==0.36.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
rope==0.18.0
ruamel.yaml==0.16.12
six==1.15.0
snowballstemmer==2.0.0
toml==0.10.2
ujson==4.0.1
urllib3==1.25.11
wrapt==1.12.1
yamllint==1.26.0
yapf==0.30.0
