<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>file:///Users/calvin/Library/Group%20Containers/UBF8T346G9.Office/User%20Content.localized/Templates.localized/Normal.dotm</key>
	<dict>
		<key>kBookmarkDataKey</key>
		<data>
		Ym9va4gDAAAAAAQQMAAAAJwyqHNociwpIsKKxLDVjAoIFCcQ3USlekMpoYVI
		ZIq4hAIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGNh
		bHZpbgAABwAAAAEBAABMaWJyYXJ5ABAAAAABAQAAR3JvdXAgQ29udGFpbmVy
		cxEAAAABAQAAVUJGOFQzNDZHOS5PZmZpY2UAAAAWAAAAAQEAAFVzZXIgQ29u
		dGVudC5sb2NhbGl6ZWQAABMAAAABAQAAVGVtcGxhdGVzLmxvY2FsaXplZAAL
		AAAAAQEAAE5vcm1hbC5kb3RtACAAAAABBgAAEAAAACAAAAAwAAAAQAAAAFgA
		AAB0AAAAlAAAALAAAAAIAAAABAMAAHCoCgAAAAAACAAAAAQDAAA/rBAAAAAA
		AAgAAAAEAwAAQKwQAAAAAAAIAAAABAMAAEu1EAAAAAAACAAAAAQDAACJiiAA
		AAAAAAgAAAAEAwAAyYogAAAAAAAIAAAABAMAAOaKIAAAAAAACAAAAAQDAAB1
		FC4AAAAAACAAAAABBgAA7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwB
		AAAIAAAAAAQAAEHBORBQ1SHDGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAA
		AAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxl
		Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAA
		BAAAQcD3a+0/jZYkAAAAAQEAADUzOTg2OTNELTc1RjQtNENFMi05Q0RDLTAy
		QTAxMjgzRDA3RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
		AAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADEAAAA
		AAAAAAUQAABsAQAAAAAAABAQAACkAQAAAAAAAEAQAACUAQAAAAAAAAIgAABw
		AgAAAAAAAAUgAADgAQAAAAAAABAgAADwAQAAAAAAABEgAAAkAgAAAAAAABIg
		AAAEAgAAAAAAABMgAAAUAgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAA
		AAHAAADEAQAAAAAAABHAAAAgAAAAAAAAABLAAADUAQAAAAAAABDQAAAEAAAA
		AAAAAA==
		</data>
	</dict>
</dict>
</plist>
