<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>file:///Users/calvin/Downloads/Email%20Comparison%20-%20Simple.xlsx</key>
	<dict>
		<key>kBookmarkDataKey</key>
		<data>
		Ym9va9ACAAAAAAQQMAAAAHDUpf+qO+Z6lY4ymZnAam3SB3B3c2umE40ZpQkA
		e1ZhzAEAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGNh
		bHZpbgAACQAAAAEBAABEb3dubG9hZHMAAAAeAAAAAQEAAEVtYWlsIENvbXBh
		cmlzb24gLSBTaW1wbGUueGxzeAAAEAAAAAEGAAAQAAAAIAAAADAAAABEAAAA
		CAAAAAQDAABwqAoAAAAAAAgAAAAEAwAAP6wQAAAAAAAIAAAABAMAAE6sEAAA
		AAAACAAAAAQDAAChDUgAAAAAABAAAAABBgAAhAAAAJQAAACkAAAAtAAAAAgA
		AAAABAAAQcFLfNXYxtcYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAA
		AAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8v
		DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgz5QnAAAACAAAAAAEAABB
		wPdr7T+NliQAAAABAQAANTM5ODY5M0QtNzVGNC00Q0UyLTlDREMtMDJBMDEy
		ODNEMDdFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
		AC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAGwAAAAAAAAA
		BRAAAMQAAAAAAAAAEBAAAOwAAAAAAAAAQBAAANwAAAAAAAAAAiAAALgBAAAA
		AAAABSAAACgBAAAAAAAAECAAADgBAAAAAAAAESAAAGwBAAAAAAAAEiAAAEwB
		AAAAAAAAEyAAAFwBAAAAAAAAICAAAJgBAAAAAAAAMCAAAMQBAAAAAAAAAcAA
		AAwBAAAAAAAAEcAAACAAAAAAAAAAEsAAABwBAAAAAAAAENAAAAQAAAAAAAAA
		</data>
		<key>kUUIDKey</key>
		<string>1B8285C2-AA3F-41A5-9A54-4DAB37C446DC</string>
	</dict>
	<key>file:///Users/calvin/Downloads/That%20One%20Privacy%20Guy's%20Email%20Comparison%20Chart.xlsx</key>
	<dict>
		<key>kBookmarkDataKey</key>
		<data>
		Ym9va+QCAAAAAAQQMAAAAKs+xnxcb9u7IofWtD198AdoyQw5U0Eo+a4YFoej
		jsrY4AEAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGNh
		bHZpbgAACQAAAAEBAABEb3dubG9hZHMAAAAyAAAAAQEAAFRoYXQgT25lIFBy
		aXZhY3kgR3V5J3MgRW1haWwgQ29tcGFyaXNvbiBDaGFydC54bHN4AAAQAAAA
		AQYAABAAAAAgAAAAMAAAAEQAAAAIAAAABAMAAHCoCgAAAAAACAAAAAQDAAA/
		rBAAAAAAAAgAAAAEAwAATqwQAAAAAAAIAAAABAMAAJsOSAAAAAAAEAAAAAEG
		AACYAAAAqAAAALgAAADIAAAACAAAAAAEAABBwUt88WWgfhgAAAABAgAAAQAA
		AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA
		9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
		AwAAAKDPlCcAAAAIAAAAAAQAAEHA92vtP42WJAAAAAEBAAA1Mzk4NjkzRC03
		NUY0LTRDRTItOUNEQy0wMkEwMTI4M0QwN0UYAAAAAQIAAIEAAAABAAAA7xMA
		AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAA
		AAAAABAAAAAEEAAAgAAAAAAAAAAFEAAA2AAAAAAAAAAQEAAAAAEAAAAAAABA
		EAAA8AAAAAAAAAACIAAAzAEAAAAAAAAFIAAAPAEAAAAAAAAQIAAATAEAAAAA
		AAARIAAAgAEAAAAAAAASIAAAYAEAAAAAAAATIAAAcAEAAAAAAAAgIAAArAEA
		AAAAAAAwIAAA2AEAAAAAAAABwAAAIAEAAAAAAAARwAAAIAAAAAAAAAASwAAA
		MAEAAAAAAAAQ0AAABAAAAAAAAAA=
		</data>
		<key>kUUIDKey</key>
		<string>A165297A-9618-4A8F-872A-291B0CAFB0D8</string>
	</dict>
</dict>
</plist>
