acme==5.1.0
aiodns==3.6.1
aiohappyeyeballs==2.6.1
aiohasupervisor==0.3.3
aiohttp==3.13.3
aiohttp-asyncmdnsresolver==0.1.1
aiohttp-cors==0.8.1
aiohttp-fast-zlib==0.3.0
aiooui==0.1.9
aiosignal==1.4.0
aiozoneinfo==0.2.3
annotated-types==0.7.0
annotatedyaml==1.0.2
ansible==13.2.0
ansible-compat==25.11.0
ansible-core==2.20.1
ansible-lint==25.12.2
ansible-pylibssh==1.3.0
anyio==4.4.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astral==2.2
astroid==3.3.3
async-timeout==5.0.1
async_interrupt==1.2.2
atomicwrites-homeassistant==1.4.1
attrs==25.4.0
audioop-lts==0.2.1
autocommand==2.2.2
awesomeversion==25.8.0
backoff==2.2.1
bcrypt==4.3.0
black==25.9.0
bleak==2.0.0
bleak-retry-connector==4.4.4
blinker==1.9.0
bluetooth-adapters==2.1.1
bluetooth-auto-recovery==1.5.3
bluetooth-data-tools==1.28.4
boto3==1.35.24
botocore==1.35.24
bracex==2.5
btsocket==0.3.0
casttube==0.2.1
catt==0.13.1
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.3.2
cheroot==10.0.1
CherryPy==18.8.0
circuitbreaker==2.1.3
ciso8601==2.3.3
click==8.0.4
colorclass==2.2.2
cronsim==2.7
cryptography==46.0.2
Deprecated==1.2.18
dill==0.3.8
distro==1.9.0
dnspython==2.8.0
docopt==0.6.2
dominate==2.9.1
envs==1.4
fastuuid==0.14.0
filelock==3.20.1
fitbit==0.3.1
Flask==3.1.2
Flask-Bootstrap==3.3.7.1
Flask-WTF==1.2.2
fnv-hash-fast==1.6.0
fnvhash==0.2.1
frozenlist==1.7.0
fsspec==2025.12.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.76.0
h11==0.16.0
habluetooth==5.8.0
hass-nabucasa==1.7.0
hf-xet==1.2.0
home-assistant-bluetooth==1.13.1
homeassistant==2025.12.4
httpcore==1.0.9
httpx==0.28.1
huawei-solar==2.3.0
huggingface_hub==1.2.3
idna==3.10
ifaddr==0.2.0
importlib_metadata==8.7.0
iniconfig==2.0.0
invoke==2.2.1
isort==5.13.2
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
josepy==2.2.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
lark==1.2.2
litellm==1.80.5
lru-dict==1.3.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mashumaro==3.17
mccabe==0.7.0
mdurl==0.1.2
mitogen==0.3.30
more-itertools==10.7.0
multidict==6.6.3
mypy-extensions==1.0.0
ncclient==0.7.0
netaddr==1.3.0
netifaces==0.11.0
numpy==2.2.1
oauthlib==3.2.2
oci==2.160.2
oci-cli==3.66.2
openai==2.14.0
orjson==3.11.3
packaging==25.0
pandas==2.2.3
paramiko==4.0.0
passlib==1.7.4
pathspec==0.12.1
pillow==12.0.0
pip-upgrader==1.4.15
platformdirs==4.3.3
pluggy==1.5.0
portend==3.2.1
prompt-toolkit==3.0.43
propcache==0.4.1
protobuf==6.32.1
psutil==7.2.0
psutil-home-assistant==0.0.1
pycares==4.11.0
PyChromecast==14.0.5
pycognito==2024.5.1
pycparser==2.22
pydaikin==2.16.0
pydantic==2.12.5
pydantic_core==2.41.5
pyDes==2.0.1
PyGithub==2.6.1
Pygments==2.18.0
PyJWT==2.10.1
pylint==3.3.0
pymodbus==3.6.9
PyNaCl==1.6.2
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreBluetooth==12.1
pyobjc-framework-libdispatch==12.1
pyOpenSSL==25.3.0
pyRFC3339==2.1.0
PyRIC==0.1.6.3
pyserial==3.5
pyserial-asyncio==0.6
pytest==8.3.3
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-hcl2==6.1.1
python-slugify==8.0.4
pytokens==0.1.10
pytz==2024.2
PyYAML==6.0.3
referencing==0.36.2
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
resolvelib==1.0.1
rich==13.8.1
rpds-py==0.20.0
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
s3transfer==0.10.2
schedule==1.2.1
securetar==2025.2.1
semver==3.0.4
Send2Trash==1.8.3
sentence_stream==1.2.1
setuptools==80.9.0
shellingham==1.5.4
siphash-cffi==0.1.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snitun==0.45.1
SQLAlchemy==2.0.41
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-telnetlib==3.13.0
subprocess-tee==0.4.2
tabulate==0.9.0
tempora==5.8.0
tenacity==9.1.2
terminaltables==3.1.10
terrasnek==0.1.14
text-unidecode==1.3
tiktoken==0.12.0
tk==0.1.0
tokenizers==0.22.1
tomlkit==0.13.2
tqdm==4.67.1
typer-slim==0.20.1
types-python-dateutil==2.9.0.20250822
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
uart-devices==0.1.1
ulid-transform==1.5.2
urllib3==2.6.3
usb-devices==0.4.5
uv==0.9.6
visitor==0.1.3
voluptuous==0.15.2
voluptuous-openapi==0.1.0
voluptuous-serialize==2.7.0
wcmatch==9.0
wcwidth==0.2.13
webrtc-models==0.3.0
websocket-client==1.9.0
Werkzeug==3.1.5
wrapt==1.17.2
WTForms==3.2.1
xmltodict==1.0.2
yamllint==1.35.1
yarl==1.22.0
yt-dlp==2024.12.13
ytmusicapi==1.10.2
zc.lockfile==3.0.post1
zeroconf==0.148.0
zipp==3.20.2
