<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.paragon-software.ntfsd</string>
	<key>MachServices</key>
	<dict>
		<key>com.paragon-software.ntfsd</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/Paragon Software/com.paragon-software.ntfsd</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
