<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.rogueamoeba.aceagent</string>
	<key>MachServices</key>
	<dict>
		<key>com.rogueamoeba.aceagent</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/Library/Audio/Plug-Ins/HAL/ACE.driver/Contents/Resources/aceagent</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>RA-UUID</key>
		<string>EC83B60E-0FBE4872-8BC9CCE5-304FAC64</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>aceagent</string>
	</array>
	<key>ThrottleInterval</key>
	<integer>1</integer>
</dict>
</plist>
