<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
		<string>org.macosforge.xquartz.privileged_startx</string>
	<key>ProgramArguments</key>
		<array>
			<string>/opt/X11/libexec/privileged_startx</string>
			<string>-d</string>
			<string>/opt/X11/lib/X11/xinit/privileged_startx.d</string>
		</array>








	<key>MachServices</key>
		<dict>
			<key>org.macosforge.xquartz.privileged_startx</key>
				<true/>
		</dict>
	<key>TimeOut</key>
		<integer>120</integer>
	<key>EnableTransactions</key>
		<true/>

</dict>
</plist>

