"*":
  "atom-beautify":
    bash:
      beautify_on_save: true
      disabled: true
  "autocomplete-plus":
    confirmCompletion: "tab"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "language-xml"
      "language-typescript"
      "language-sql"
      "language-rust-bundled"
      "language-ruby-on-rails"
      "language-ruby"
      "language-property-list"
      "language-perl"
      "language-objective-c"
      "language-less"
      "language-css"
      "language-csharp"
      "language-clojure"
      "language-c"
      "autocomplete-css"
      "bookmarks"
      "deprecation-cop"
      "language-coffee-script"
      "metrics"
      "timecop"
      "welcome"
      "exception-reporting"
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontSize: 16
    invisibles: {}
    normalizeIndentOnPaste: false
    showInvisibles: true
    softWrap: true
  "find-and-replace":
    enablePCRE2: true
    useRipgrep: true
  "fuzzy-finder":
    scoringSystem: "fast"
  "git-diff":
    showIconsInEditorGutter: true
  github:
    gitDiagnostics: true
  "highlight-line":
    enableBackgroundColor: false
  hyperclick:
    darwinTriggerKeys: "ctrlKey"
  linter: {}
  "linter-hadolint": {}
  "linter-js-yaml":
    customTags: [
      "!vault"
    ]
  "linter-pylint":
    disableTimeout: true
    pythonPath: "/usr/local/bin/python3"
    rcFile: "~/.pylintrc"
  "linter-shellcheck":
    enableNotice: true
  "linter-ui-default":
    panelHeight: 206
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    saveConfig:
      saveToPDFOptions: {}
    style: "github"
    syncConfig:
      syncEditorOnPreviewScroll: true
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
  minimap:
    displayCodeHighlights: false
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "python-autopep8":
    formatOnSave: true
  "spell-check": {}
  terminus:
    core:
      workingDirectory: "Active File"
    toggles:
      loginShell: false
      runInsertedText: false
  "terraform-fmt":
    binPath: "/opt/homebrew/bin/terraform"
  "tree-view":
    alwaysOpenExisting: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "x-terminal":
    spawnPtySettings:
      projectCwd: true
    terminalSettings:
      defaultOpenPosition: "Bottom Dock"
      leaveOpenAfterExit: false
".html.mustache.text":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    showIndentGuide: true
".python.regexp.source":
  editor:
    tabLength: 42
".python.source":
  editor:
    showIndentGuide: true
