"*":
  "ansible-vault": {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    use:
      "atom-ide-diagnostics-ui": "never"
  "autocomplete-paths":
    ignoreSubmodules: true
  "autocomplete-plus":
    confirmCompletion: "tab"
  "autocomplete-python":
    useKite: false
  "autohide-tree-view": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "language-xml"
      "language-typescript"
      "language-sql"
      "language-rust-bundled"
      "language-ruby-on-rails"
      "language-ruby"
      "language-property-list"
      "language-php"
      "language-perl"
      "language-objective-c"
      "language-mustache"
      "language-make"
      "language-less"
      "language-java"
      "language-css"
      "language-csharp"
      "language-clojure"
      "language-c"
      "autocomplete-css"
      "bookmarks"
      "deprecation-cop"
      "language-coffee-script"
      "language-html"
      "metrics"
      "timecop"
      "welcome"
    ]
    packagesWithKeymapsDisabled: [
      "platformio-ide-terminal"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontSize: 17
    invisibles: {}
    normalizeIndentOnPaste: false
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "273f03c4-e9b6-4518-87a9-1fcc417436ba"
  "find-and-replace":
    useRipgrep: true
  "fuzzy-finder":
    scoringSystem: "fast"
  "git-blame":
    columnWidth: 299
  "git-diff": {}
  "ide-go":
    completionEnabled: false
  "ide-python":
    pylsPlugins:
      autopep8:
        enabled: false
      pycodestyle:
        enabled: false
      pyflakes:
        enabled: false
      pylint:
        enabled: true
      rope_completion:
        enabled: true
      yapf: {}
    python: "/usr/local/bin/python3"
    rope:
      ropeFolder: "null"
  linter:
    lintOnChange: false
  "linter-js-yaml":
    customTags: [
      "!vault"
    ]
  "linter-pylint":
    rcFile: "~/.pylintrc"
  "linter-shellcheck":
    enableNotice: true
  "linter-ui-default":
    panelHeight: 300
  "markdown-preview-plus":
    saveConfig:
      saveToPDFOptions: {}
    useGitHubStyle: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "platformio-ide-terminal":
    core:
      workingDirectory: "Active File"
    style:
      fontFamily: "MesloLGS NF"
      fontSize: "18"
      theme: "homebrew"
    toggles:
      autoClose: true
  "spell-check": {}
  teletype:
    askBeforeJoiningPortalViaExternalApp: false
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    style:
      fontFamily: "MesloLGS NF"
      fontSize: "18"
  "tree-view":
    alwaysOpenExisting: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".python.source":
  editor:
    showIndentGuide: true
